.main-contents
  .main-header
    .main-box
      .main-group
        .main-group__name
        = @group.name
        %ul.main-group__member 
          Member:
          %li.main-group__member--list
          - @group.group_users.each do |group_user|
            = group_user.user.name
      .main-edit
        =link_to 'Edit',"/groups/#{@group.id}/edit",method: :get,class: "main-edit__font"
  .main-body
    = render partial: "message", collection: @messages
  .main-bottom
    .main-form
      = form_for ([@group,@message] ) do |f|
        = f.text_field :content, class: 'main-form__textbox', placeholder: 'type a message'
        .main-form__mask
          = f.label :image, class: 'main-form__mask__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send',id:'submit', class: 'main-form__btn'